@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
/* COLOR */

/* GRAY LIGHT */
.bg-gray-light {
  background-color: #F9F9FC;
}
.text-gray-light {
  color: #F9F9FC;
}

/* GRAY DARK */
.bg-gray-dark{
  background-color: #1a1a1a;
}
.text-gray-dark{
  color: #1a1a1a;
}

/* GRAY DARKER */
.bg-gray-darker{
  background-color: #0e0e0e;
}
.text-gray-darker{
  color: #0e0e0e;
}

/* PRIMARY */
.bg-primary{
  background-color: #0500FF;
}
.text-primary{
  color: #0500FF;
}

/* SECONDARY */
.bg-secondary{
  background-color: #ffbb00;
}
.text-secondary{
  color: #ffbb00;
}

/* WHITE */
.bg-white{
  background-color: #FFFFFF;
}
.text-white{
  color: #FFFFFF;
}

/* BLACK */
.bg-black{
  background-color: #000000;
}
.text-black{
  color: #000000;
}



html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  column-gap: 2rem; /* 32px */
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

/* NAVIGATION */
.brand {
  font-weight: bold;
  font-size: 20px;
}

.site-header {
  position: relative;
  background-color: #ffffff;
}

.site-header_wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 600px) {
  .site-header_wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 600px) {
  .nav_wrapper {
    display: flex;
    column-gap: 0.5rem; /* 8px */
  }
}

@media (max-width: 599px) {
  .nav_wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav_wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  #hamburger-icon {
    display: block;
    height: 40px;
    width: 40px;
  }
  .nav_toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.nav_item a {
  display: block;
  padding: 0.625rem 0.5rem;
}

.nav_item a:hover {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.nav_toggle {
  display: none;
}
#hamburger-icon {
  display: none;
}

/* END OF NAVIGATION */

/* START OF HERO */
.banner-area {
  position: relative;
  overflow: hidden;
  height: auto;
}

.bg-cover-bottom {
  background-size: cover !important;
  background-position: left bottom !important;
  background-repeat: no-repeat;
}
/* END OF HERO */
